[submodule "semicolon-frontend"]
	path = semicolon-frontend
	url = https://github.com/vikas90244/semicolon-frontend.git
[submodule "semicolon-backend"]
	path = semicolon-backend
	url = https://github.com/vikas90244/semicolon-backend.git
